rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /categories/{doc} {
      allow read: if true;
    }

    match /products/{doc} {
      allow read: if true;
    }

    match /carts/{doc} {
      allow read: if isCurrentUser(resource.data.uid);
    }

    match /orders/{doc} {
      allow read: if isCurrentUser(resource.data.uid);
    }

    function isCurrentUser(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAuthenticated() {
      return request.auth != null;
    }
  }
}
